body {
  background: none repeat scroll 0 0 transparent;
  text-align: center;
}

#taskcontent {
  margin: auto;
  width: 680px;
  min-height: 100px;
  max-height: 460px;
}

form#signup-form {
  padding-top: 10px;
}

td.value input {
    width: 250px;
}

td.label {
  vertical-align: top;
}

table.form td {
    text-align: left;
}
