<IfModule mod_rewrite.c>
  RewriteEngine on

  RewriteBase /~vanmeeuwen/kolab-wap/public_html

  # Rewrite URLs of the form 'x' to the form 'index.php?q=x'.
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^api/([a-z0-9-_]+)/([a-z0-9-_]+)(.*)$ api/index.php?object=$1&action=$2&rest=$3 [L,QSA]
</IfModule>
