<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{$engine->translate('signup.headline')}</title>
    <link rel="stylesheet" href="{$skin_path}style.css" />
    <link rel="stylesheet" href="{$skin_path}hosted.css" />
    <link rel="shortcut icon" type="image/png" href="{$skin_path}images/favicon.png" />
    <script src="js/jquery.min.js"></script>
    <script src="js/kolab_admin.js"></script>
    <script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>
    <script src="js/kolab_hosted.js"></script>
    <script src="{$skin_path}ui.js"></script>
</head>
<body>
    <div id="bodybox">
        <div id="logo"></div>
        <div id="content">


        <div id="task_content" class="signup">
    
        <h1>{$engine->translate('signup.headline')}</h1>

        <p>{$engine->translate('signup.intro1')}</p>

        <p>{$engine->translate('signup.intro2')}</p>
    
        <div id="taskcontent" class="signup">{$form}</div>


        </div>
    
        </div>
        <div id="footer">
            {include file="footer.html"}
        </div>
    </div>
{$script}
</body>
</html>
