body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
  margin: 0;
  color: #514949;
  background: url(images/body.png) top repeat-x #f0f0f0;
}

a {
  color: #1E90FF;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 5px;
  color: #ff9900;
}

input[type="text"],
input[type="password"],
textarea {
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding-left: 2px;
}

table.list {
  border: 1px solid #d0d0d0;
  border-spacing: 0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

table.list td {
  padding: 2px 4px;
  border: 1px solid white;
  border-left: none;
  border-top: none;
}

table.list thead tr {
  background-color: #e0e0e0;
  font-weight: bold;
}

table.list tbody tr {
  background-color: #f0f0f0;
}

table.list tfoot tr {
  background-color: #e0e0e0;
}

table.list tfoot tr td {
  padding: 3px 3px;
  font-size: 10px;
  text-shadow: white 1px 1px;
}

table.list tfoot tr td {
  border-top: solid 1px white;
  border-bottom: none;
}

table.list td:last-child {
  border-right: none;
}

table.list tbody tr:last-child td {
  border-bottom: none;
}

table.list tbody tr.selectable td {
  cursor: default;
}

table.list tbody tr.selectable:hover {
  background-color: #d6efff;
}

table.list tbody tr td.empty-body {
  height: 150px;
  color: #ff9900;
  text-align: center;
}

fieldset {
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  margin-top: 10px;
}

legend {
  padding-left: 0;
  color: #909090;
}

table.form {
  width: 100%;
}

table.form td {
  padding: 1px 5px;
}

table.form tr.required input {
  background-color: #f0f9ff;
}

table.form tr.error input {
  background-color: #f5e3e3;
}

td.label {
  width: 1%;
  min-width: 120px;
  text-align: right;
  font-weight: bold;
  white-space: nowrap;
}

/**** Common UI elements ****/

#topmenu {
  text-align: right;
  height: 20px;
  padding: 0;
  margin: 0 10px;
  white-space: nowrap;
}

#navigation {
  margin: 0 15px;
  text-align: right;
  height: 36px;
  z-index: 2;
  white-space: nowrap;
}

#task_navigation {
  margin: 0 15px;
  text-align: right;
  height: 18px;
  z-index: 2;
  white-space: nowrap;
}

#message {
  position: absolute;
  top: 80px;
  left: 20px;
  width: 350px;
  height: 60px;
  z-index: 20;
}

#message div {
  opacity: 0.97;
  padding-left: 70px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-box-shadow: 1px 1px 3px #999;
  -webkit-box-shadow: #999 1px 1px 3px;
  width: 100%;
  height: 100%;
  display: table;
}

#message.notice div {
  border-color: #aec1db;
  color: #3465a4;
  background: url(images/info.png) 10px center no-repeat #c0e0ff;
}

#message.error div {
  border-color: #db9999;
  color: #a40000;
  background: url(images/error.png) 10px center no-repeat #edcccc;
}

#message div span {
  vertical-align: middle;
  display: table-cell;
  line-height: 20px;
}

#logo {
  position: absolute;
  top: 0px;
  left: 10px;
  width: 198px;
  height: 74px;
  background: url(images/logo.png) 0 0 no-repeat;
}

#content {
  min-height: 400px;
  margin: 0 15px;
  padding: 10px;
  background-color: #f5f5f5;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#footer {
  margin: 2px 15px;
  color: #b0b0b0;
  font-size: 9px;
  margin-bottom: 10px;
}

#loading {
  position: absolute;
  display: none;
  top: 2px;
  left: 15px;
  width: 75px;
  height: 18px;
  padding-left: 86px;
  color: #f8fcff;
  font-size: 11px;
  text-shadow: black 1px 1px;
  z-index: 1;
  background: url(images/loading.gif) 0 3px no-repeat;
}

#topmenu .logout {
  background: url(images/logout.png) center 10px no-repeat;
  padding: 9px 16px;
  margin: 0px 5px 0px 10px;
}

#topmenu .login {
  color: #f8fcff;
  font-size: 11px;
  text-shadow: black 1px 1px;
}

#navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 8px 0;
}

#navigation ul li {
  display: inline;
  font-size: 13px;
  font-weight: bold;
  padding: 8px 0;
}

#navigation ul li a {
  padding: 8px 10px;
  text-decoration: none;
  color: #514949;
}

#navigation ul li.active {
  background: url(images/navbg.png) 0 0 repeat-x;
}

#navigation ul li.active a {
  text-shadow: white 1px 1px;
  color: #ff9900;
}

#task_navigation ul {
  list-style-type: none;
  margin: 0;
  padding: 0px 0;
}

#task_navigation ul li {
  padding: 1px 0;
  display: inline;
  font-size: 11px;
  text-shadow: white 1px 1px;
}

#task_navigation ul li a {
  padding: 1px 10px;
  text-decoration: none;
  color: #808080;
}

#navigation ul li a:active,
#task_navigation ul li a:active {
  outline: none;
}

#taskcontent {
  min-height: 380px;
  padding: 10px;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  overflow-x: auto;
}

#toc {
  float: left;
  width: 260px;
  min-height: 380px;
}

#search {
  padding: 7px;
  margin-bottom: 10px;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  background-color: #e0e0e0;
}

#searchinput {
  border: none;
  background-color: white;
  margin-left: 2px;
}

#searchinput:focus {
  outline: none;
}

.searchinput {
  height: 20px;
  margin: 0;
  padding: 0;
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  overflow: hidden;
}

.searchactions {
  float: left;
  padding: 1px;
  margin-left: -1px;
  margin-top: -1px;
  height: 18px;
  width: 37px;
  border: 1px solid #d0d0d0;
  background-color: #f0f0f0;
  cursor: pointer;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-bottomleft: 3px;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-left-right-radius: 3px;
}

#search-reset,
#search-details {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  background: url(images/buttons.png) 0 0 no-repeat;
}

#search-reset:hover,
#search-details:hover {
  background-color: white;
}

#search-reset {
  background-position: -1px 0;
  border-left: 1px solid #e0e0e0;
}

#search-details {
  background-position: -21px 0;
}

.searchdetails {
  display: none;
}

#search fieldset {
  margin: 0;
  color: #909090;
  margin-top: 5px;
}

#search td.label {
  min-width: 0;
}

div.vsplitter {
  float: left;
  width: 10px;
  min-height: 400px;
}

/**** Common classes ****/

.watermark {
  padding-top: 40px;
  text-align: center;
  width: 100%;
}

.link {
  cursor: pointer;
}

.icon {
  width: 16px;
  height: 16px;
}

.inactive {
  color: #d0d0d0;
}

.formtitle {
  color: #ff9900;
  font-size: 18px;
  font-weight: bold;
  margin-left: 5px;
}

.formbuttons {
  text-align: center;
}

.formbuttons input {
  margin: 5px;
}

.listnav {
  width: 100%;
  text-align: right;
}

.listnav a {
  float: left;
  display: block;
  width: 16px;
  height: 16px;
  background: url(images/arrow_left.png) center no-repeat;
}

.listnav a.next {
  background: url(images/arrow_right.png) center no-repeat;
}

.listnav a.disabled {
  opacity: .3;
  cursor: default;
}

.listnav span span {
  float: left;
  display: block;
  height: 14px;
  padding: 1px 5px;
}

.readonly {
  color: #a0a0a0;
}

input.readonly,
textarea.readonly {
  background-color: #f5f5f5;
}


/********* Form smart inputs *********/

span.listarea {
  display: block;
  width: 370px;
  margin: 0 0 1px;
  padding: 0;
  background-color: white;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

span.listelement {
  display: block;
  padding: 0;
  margin: 0;
  height: 20px;
  overflow: hidden;
  border-top: 1px solid #d0d0d0;
}

span.listelement:first-child {
  border: none;
}

span.listelement input {
  border: none;
  background-color: transparent;
  margin-left: 2px;
  width: 325px;
}

span.listelement input:focus {
  outline: none;
}

span.listelement span.actions {
  float: left;
  padding: 1px;
  margin-left: -1px;
  margin-top: -1px;
  height: 18px;
  width: 37px;
  border: 1px solid #d0d0d0;
  background-color: #f0f0f0;
  cursor: pointer;
}

span.listelement span.actions span {
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  background: url(images/buttons.png) 0 0 no-repeat;
}

span.listelement span.actions span:hover {
  background-color: white;
}

span.listelement span.actions span.reset {
  background-position: -1px 0;
  border-left: 1px solid #e0e0e0;
}

span.listelement span.actions span.add {
  background-position: -43px 0;
}

span.listarea.readonly {
  background-color: #f5f5f5;
}

span.listarea.readonly span.listelement input {
  color: #a0a0a0;
}

span.listarea.readonly span.listelement span.actions {
  opacity: .5;
}

/***** tabbed interface elements *****/

div.tabsbar
{
  height: 22px;
  border-bottom: 1px solid #d0d0d0;
  white-space: nowrap;
  margin: 10px 5px 0 5px;
  background-color: #f0f0f0;
}

span.tablink,
span.tablink-selected
{
  float: left;
  height: 23px !important;
  height: 22px;
  overflow: hidden;
  background: url(images/tabs-left.gif) top left no-repeat;
  font-weight: bold;
}

span.tablink
{
  cursor: pointer;
  text-shadow: white 1px 1px;
}

span.tablink-selected
{
  cursor: default;
  background-position: 0px -23px;
}

span.tablink a,
span.tablink-selected a
{
  display: inline-block;
  padding: 4px 10px 0 5px;
  margin-left: 5px;
  height: 23px;
  color: #808080;
  max-width: 185px;
  text-decoration: none;
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  background: url(images/tabs-right.gif) top right no-repeat;
  outline: none;
}

span.tablink-selected a
{
  cursor: inherit;
  color: #514949;
  background-position: right -23px;
}

fieldset.tabbed
{
  margin-top: 0;
  padding-top: 12px;
  border-top: none;
}

/**** Login form elements ****/

#login_form {
  margin: auto;
  margin-top: 75px;
  padding: 20px;
  width: 330px;
  background-color: #e0e0e0;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  text-align: center;
}

#login_form span {
  display: block;
  line-height: 24px;
  width: 330px;
}

#login_form label {
  display: block;
  width: 80px;
  text-align: right;
  float: left;
  margin-right: -20px;
}

#login_form input[type="text"],
#login_form input[type="password"] {
  width: 200px;
}

#login_submit {
  margin-top: 5px;
}

/**** Main screen elements ****/
#main {
  padding: 5px 30px;
}

#main div {
  float: left;
  margin: 10px;
  width: 150px;
  height: 150px;
  text-align: center;
  cursor: pointer;
  background-color: #f0f0f0;
  border: 1px solid #d0d0d0;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

#main div:hover {
  background-color: #d6efff;
}

#main div span.image {
  display: block;
  margin: 15px 27px 10px;
  height: 96px;
  width: 96px;
  background: url(images/about.png) center center no-repeat;
}

#main div.user span.image {
  background: url(images/users.png) center center no-repeat;
}

#main div span.label {
  font-weight: bold;

}

#reqtime {
  white-space: nowrap;
  vertical-align: top;
}

/**** User task elements ****/

#userlist table {
  width: 100%;
}
