<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>{$pagetitle}</title>
    <link rel="stylesheet" href="{$skin_path}style.css" />
    <link rel="shortcut icon" type="image/png" href="{$skin_path}images/favicon.png" />
    <script src="js/jquery.min.js"></script>
    <script src="js/kolab_admin.js"></script>
    <script src="{$skin_path}ui.js"></script>
</head>
<body>
    <div id="logo"></div>
    <div id="topmenu">
        <span class="login">{$user.fullname}</span>
        <span class="logout link" title="{$engine->translate('Logout')}" onclick="kadm.main_logout()"></span>
    </div>
    <div id="navigation">{$main_menu}</div>
    <div id="task_navigation">{$task_menu}</div>
    <div id="content">
        <h1>{$engine->translate('welcome')}</h1>
        <div id="main">
            {foreach $tasks as $link => $label}
            <div class="{preg_replace('/\..*$/', '', $link)}" onclick="kadm.command('{$link}', '', this)">
                <span class="image"></span>
                <span class="label">{$engine->translate($label)}</span>
            </div>
            {/foreach}
        </div>
    </div>
    <div id="footer">
        {include file="footer.html"}
    </div>
{$script}
</body>
</html>
