<div id="toc" class="user">
    <div id="search">
        <div class="searchinput">
            <input type="text" id="searchinput" name="search" value="{$engine->translate('search')}" />
            <script type="text/javascript">search_init()</script>
            <span class="searchactions">
                <span id="search-details" title="{$engine->translate('search.criteria')}" onclick="search_details()"></span>
                <span id="search-reset" title="{$engine->translate('search.reset')}" onclick="search_reset()"></span>
            </span>
        </div>
        <div class="searchdetails">
            <fieldset>
                <legend>{$engine->translate('search.criteria')}</legend>
                <label for="">{$engine->translate('search.field')}</label>
            </fieldset>
        </div>
    </div>
    <div id="userlist"></div>
</div>
<div id="taskcontent" class="user"></div>
