body {
  background: #f0f0f0;
  text-align: center;
}

#bodybox {
  display: inline-block;
  width: 900px;
  text-align: left;
}

#logo {
  width: 462px;
  height: 100px;
  position: relative;
  margin: 10px;
  cursor: default;
}

#content {
  padding: 15px;
}

#taskcontent {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
}

form#signup-form {
  padding-top: 10px;
}

td.label {
  vertical-align: top;
}

table.form td {
    text-align: left;
}
