body {
  background: #f0f0f0;
  text-align: center;
}

#bodybox {
  display: inline-block;
  width: 900px;
  text-align: left;
}

#logo {
  width: 462px;
  height: 100px;
  position: relative;
  margin: 10px;
  cursor: default;
}

td.label {
  vertical-align: top;
}
